<h2 mat-dialog-title>Editar Estudiante</h2>
<mat-dialog-content>
    <form [formGroup]="estudianteForm" class="persona-form">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" />
            <mat-error *ngIf="estudianteForm.get('nombres')?.hasError('required')">
              El nombre es obligatorio
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido" />
            <mat-error *ngIf="estudianteForm.get('apellidos')?.hasError('required')">
              Los apellidos son obligatorios.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Número matrícula</mat-label>
            <input matInput formControlName="numeroMatricula" type="number" />
            <mat-error *ngIf="estudianteForm.get('numeroMatricula')?.hasError('required')">
              La matrícula es obligatoria.
            </mat-error>
            <mat-error *ngIf="estudianteForm.get('numeroMatricula')?.hasError('email')">
              Ingresa solo números.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Grado</mat-label>
            <input matInput formControlName="grado" type="tel" />
            <mat-error *ngIf="estudianteForm.get('grado')?.hasError('required')">
              El grado es obligatorio.
            </mat-error>
            <mat-error *ngIf="estudianteForm.get('grado')?.hasError('pattern')">
              Ingresa solo números.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]="true" [disabled]="estudianteForm.invalid" (click)="saveEstudiante()">Guardar</button>
</mat-dialog-actions>