<mat-toolbar color="primary" class="navbar">
    <button mat-icon-button (click)="toggleSidebar()" class="menu-toggle">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Sistema de Registro Escolar</span>
</mat-toolbar>

<div class="dashboard-container">
    <aside class="sidebar" *ngIf="isSidebarOpen || isLargeScreen">
        <h3>Menú</h3>
        <mat-nav-list>
            <a mat-list-item routerLink="personas" routerLinkActive="active-link">Personas</a>
            <a mat-list-item routerLink="estudiantes" routerLinkActive="active-link">Estudiantes</a>
            <a mat-list-item routerLink="profesores" routerLinkActive="active-link">Profesores</a>
            <a mat-list-item routerLink="administrativos" routerLinkActive="active-link">Administrativos</a>
            <a mat-list-item routerLink="cursos" routerLinkActive="active-link">Cursos</a>
            <a mat-list-item routerLink="inscripciones" routerLinkActive="active-link">Inscripciones</a>
        </mat-nav-list>
    </aside>

    <main class="main-content" (click)="closeSidebarOnMobile()">
        <router-outlet></router-outlet>
    </main>
</div>