<h2 mat-dialog-title>Nuevo Estudiante</h2>
<mat-dialog-content>
    <form [formGroup]="estudianteForm" class="persona-form">
        <mat-form-field appearance="fill">
          <mat-label>Selecciona una opción</mat-label>
          <mat-select formControlName="idPersona" (openedChange)="onSelectClicked($event)">
          <mat-option *ngFor="let persona of options" [value]="persona.value">
            {{ persona.viewValue }}
          </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Número matrícula</mat-label>
          <input matInput formControlName="numeroMatricula" type="number" />
          <mat-error *ngIf="estudianteForm.get('numeroMatricula')?.hasError('required')">
            La matrícula es obligatoria.
          </mat-error>
          <mat-error *ngIf="estudianteForm.get('numeroMatricula')?.hasError('pattern')">
            Ingresa solo números.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Grado</mat-label>
          <input matInput formControlName="grado" type="number" />
          <mat-error *ngIf="estudianteForm.get('grado')?.hasError('required')">
            El grado es obligatorio.
          </mat-error>
          <mat-error *ngIf="estudianteForm.get('grado')?.hasError('pattern')">
            Ingresa solo números.
          </mat-error>
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]="true" [disabled]="estudianteForm.invalid" (click)="saveEstudiante()">Guardar</button>
</mat-dialog-actions>